---
layout: default
---

<div>
  <h2 class="post-title">This is my website. There are many like it, but this one is <a href="/about/">mine</a>.</h2>
</div>

<blockquote>
  <p>“... here you are. And what are you going to do about it? That's the only persistent question in life.”</p>

  <p>— Derrick B. Miller, <a href="http://books.google.co.za/books?id=J6u1nSsCYVAC&amp;pg=PA267&amp;lpg=PA267&amp;dq=%22here+you+are.+And+what+are+you+going+to+do+about+it%3F+That%27s+the+only+persistent+question+in+life%22&amp;source=bl&amp;ots=at6YygBf9c&amp;sig=1d5o33Su21U7l_9TipDRVKUtcXA&amp;hl=en&amp;sa=X&amp;ei=I8szU6_lO8aJhQeU1oCgBg&amp;redir_esc=y#v=onepage&amp;q=%22here%20you%20are.%20And%20what%20are%20you%20going%20to%20do%20about%20it%3F%20That%27s%20the%20only%20persistent%20question%20in%20life%22&amp;f=false">Norwegian by Night</a></p>
</blockquote>

<p>Once in a blue moon I may feel like writing something. Below is what I have so far.</p>

<div class="posts">
  {% for post in paginator.posts %}
  {% assign post_url = post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url | %}
  <article class="post">

    {% if post.banner_image %}
    <div class="banner-image">
      <a href="{{ post_url }}"
        title="{{ post.title }}">
      <img
          src="{{ "/assets/images/" | append: post.banner_image | prepend: site.baseurl | prepend: site.url }}"
          alt="{% if post.banner_image_alt %}{{ post.banner_image_alt }}{% else %}{{ post.title }} {% endif %}">
      </a>
    </div>
    {% endif %}

    <h1 class="post-title">
      <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
        {{ post.title }}
      </a>
    </h1>

    <p class="post-meta">
    {% if (post.categories.size > 0 %}
      <span class="categories">
      {{ post.categories | array_to_sentence_string }}
      </span> |
    {% endif %}
    <span class="post-date">
    {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}
    </span>
    </p>

    {{ post.excerpt }}
    <a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
      Continue reading »
    </a>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">

  {% if paginator.next_page %}
      <a class="pagination-item older btn" href="{{ paginator.next_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">Older</a>
  {% else %}
    <span class="pagination-item older btn-disabled">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-item newer btn " href="{{ paginator.previous_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">Newer</a>
  {% else %}
    <span class="pagination-item newer btn-disabled">Newer</span>
  {% endif %}

</div>
{% endif %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ '' | prepend: site.baseurl | prepend: site.url | append: '/' }}"
    }
}
</script>
